*.pyc
/db.sqlite3
.DS_Store
/package-lock.json
*/settings/local.py
/mediafiles/*
__pycache__/
/staticfiles/admin/*
/staticfiles/css/*
/staticfiles/debug_toolbar/*
/staticfiles/fonts/*
/staticfiles/import_export/*
/staticfiles/js/*
/staticfiles/rest_framework/*
/staticfiles/vendor/*

# coverage result
.coverage
/coverage/

# pycharm
.idea

# data
*.dump

# npm
node_modules/
npm-debug.log

#Folders
.DS_Store

# Webpack
/assets/bundles/*
/assets/webpack_bundles/*
/webpack-stats.json
/jquery-webpack-stats.json

# Sass
.sass-cache
*.map

# General
/venv/
/env/
/output/
/cache/
shell/

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/
