{% autoescape off %}

<p>Hi {{ user.first_name }},</p>
<p>To initiate the password reset process for your BlockLearn Account,
click the link below:</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>
<p>If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.</p>
<p>If you have any problem, contact us!</p>

Sincerely,<br>
BlockLearn Team
{% endautoescape %}
